.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
.tarjeta {
    min-width: 400px;
    max-width: 600px;
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}