<router-outlet></router-outlet>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar Comic">
  </mat-form-field>
</div>
<div class="contenedor" *ngIf="comics != null" >
  <div class="content-grid" >
  <mat-card  class="tarjeta"  *ngFor="let card of comics" >
    <mat-card-header>
      <mat-card-title>Nombre Comic:{{ card.nombreComic }}</mat-card-title>
      <mat-card-subtitle>Tomo:{{ card.tomoComic }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Argumento:{{ card.argumentoComic }}</p>
    </mat-card-content>
  </mat-card>
</div>
</div>

