<form class="example-container" [formGroup]="form" (ngSubmit)="insertarComic()" #frmComic="ngForm">
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre de comic" required formControlName="nombre">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Tomo" required formControlName="tomo">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Argumento" required formControlName="argumento">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmComic.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span> 
</button>

<button mat-raised-button color="accent" routerLink='/comics' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
</button>
</form>
