.character-card {
  max-width: 300px;
  background: rgb(10, 10, 10);
  margin: auto;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.card-title {
  color:rgb(255, 152, 0);
  text-align: right;
}


.tarjeta {
  min-width: 400px;
  max-width: 600px;
}

.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control-position-leftTwo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2rem;
  text-align: center;
}

.search-item-selector {
  color: white;
  font-size: 12px;
}

.form-control-position-left {
  right: inherit;
  left: auto;
}

.form-control-position-right {
  left: inherit;
}

.form-control {
  padding-right: 0.85rem;
  padding-left: 2.95rem;
}

/* Título */
.page__component {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.section__color__light {
  background-color: #fff;
}

.openText {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
}

.openText__columns {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: left;
  border-collapse: collapse;
}

.openText__column:last-child {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.openText__column {
  vertical-align: top;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}
.openText__columns {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: left;
  border-collapse: collapse;
}

.open-html {
  overflow-x: auto;
  overflow-y: auto;
}

.heroes {
  color: black !important;
  font-size: 250%;
}

/* contenido y buscador */

.full-content {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 1240px;
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.inlineModuleHeader {
  position: relative;
  width: 100%;
  -webkit-box-align: baseline;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.full-content .content-grid {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.content-grid {
  max-width: 1240px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.content-grid .grid-base.grid__3, .content-grid .grid-base.grid__4, .content-grid .grid-base.grid__6 {
    grid-template-columns: repeat(auto-fill,minmax(31.66%,1fr));
}

.content-grid .grid-base {
  display: grid;
  transition-property: max-height;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-column-gap: 10px;
}


.full-content .inlineModuleHeader__innerComponent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
}

.full-content .inlineModuleHeader__innerComponent {
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.inlineModuleHeader__innerComponent {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.typeahead {
  display: flex;
  position: relative;
  width: 100%;
}

.typeahead__icon {
  position: relative;
  top: 10px;
}

.icon--svg.icon--search {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: square;
}

.icon--svg--black-stroke {
  stroke: black;
}

.typeahead__container {
  width: 100%;
}

.typeahead__input {
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: rgb(252, 250, 250);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-bottom: 3px solid black;
    width: 100%;
    padding-bottom: .4375rem;
    padding-left: 1.875rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.typeahead__input {
  font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.typeahead__suggestions-container {
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 50;
}


/* Tarjetas */

.content-grid .mvl-card {
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
}

.mvl-card--explore, .mvl-card--large, .mvl-card--lob, .mvl-card--media, .mvl-card--merch {
  box-sizing: border-box;
  position: relative;
}

.mvl-card--explore {
  color: #fff;
  max-width: 100%;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.mvl-card--explore:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #fff;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: auto;
  z-index: 40;
}

.mvl-card--explore .card-thumb-frame {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(230, 36, 41);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.content-grid .mvl-card {
    margin: 6px 0 4px;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
}
.mvl-card--explore, .mvl-card--large, .mvl-card--lob, .mvl-card--media, .mvl-card--merch {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.mvl-card--explore {
  max-width: 100%;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.mvl-card--explore .card-thumb-frame .img__wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 170px;
}

figure.img__wrapper {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.mvl-card--explore .card-thumb-frame .img__wrapper:after {
  height: 4px;
  content: "";
  background-color: #e62429;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.content-grid .mvl-card--explore .card-body {
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 17px;
  padding-left: 10px;
}

.mvl-card--explore .card-body.is-sliding {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(21, 21, 21);
  color: #e62429;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.mvl-card .card-body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  line-height: 1;
}

.mvl-card--explore .card-body {
  border-top-color: initial;
  border-top-style: none;
  border-top-width: initial;
  border-right-color: initial;
  border-right-style: none;
  border-right-width: initial;
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  border-left-color: initial;
  border-left-style: none;
  border-left-width: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  height: 145px;
  vertical-align: middle;
  z-index: 30;
}

.mvl-card--explore .card-body.is-sliding:before {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(230, 36, 41);
  bottom: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition-timing-function: cubic-bezier(.75,0,.125,1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0s;
  width: 100%;
  z-index: -1;
}

.mvl-card--explore .card-body:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #fff;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: auto;
  z-index: 40;
}

.mvl-card--explore .card-body__headline {
  color: #fff;
}

.mvl-card--explore .card-body__headline {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.1;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mvl-card--explore .card-body .card-footer {
  bottom: 17px;
  position: absolute;
  padding-right: 10px;
  text-align: left;
}

.mvl-card--explore .card-body .card-footer__secondary-text {
  color: #bbb;
}

.mvl-card--explore .card-body .card-footer__micro-description {
  color: #999;
  text-transform: uppercase;
}

.mvl-card--explore .card-body .card-footer__micro-description, .mvl-card--explore .card-body .card-footer__secondary-text {
  letter-spacing: 1px;
  transition-property: all;
  transition-duration: 0.17s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.mvl-card--explore .card-body .card-footer__micro-description, .mvl-card--explore .card-body .card-footer__secondary-text {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

div, figure {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

/* Bóton */

.derecha   { float: right !important; }

.featured__ctas {
  justify-content: left;
  float: left;
}

.featured.imageLeft .featured__ctas .cta-btn, .featured.imageRight .featured__ctas .cta-btn {
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.cta-btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
  padding: 0;
  position: relative;
  letter-spacing: 0;
  width: auto;
  z-index: 10;
}

.cta-btn.cta-btn--solid.cta-btn--red {
  margin-left: 16px;
}

.cta-btn.cta-btn--solid.cta-btn--red:after, .cta-btn.cta-btn--solid.cta-btn--red {
  background-color: #e62429;
  border-color: #e62429;
  transition: none;
}

.cta-btn {
  border-width: 0 0 16px 16px;
  top: 0;
}

.cta-btn:after, .cta-btn {
  border-style: solid;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 16px;
}

.cta-btn.cta-btn--solid.cta-btn--red:after {
  margin-right: 16px;
}

.cta-btn.cta-btn--solid.cta-btn--red:after, .cta-btn.cta-btn--solid.cta-btn--red:before {
  background-color: #e62429;
  border-color: #e62429;
  transition: none;
}

.cta-btn:after {
  border-width: 16px 16px 0 0;
  bottom: 0;
}

.cta-btn:after, .cta-btn:before {
  border-style: solid;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 16px;
}


.cta-btn.cta-btn--solid.cta-btn--red .innerFill {
  color: #fff;
  background-color: #e62429;
  transition: none;
  text-align: center;
}

.cta-btn .innerFill {
  padding: 0 35px;
}

.cta-btn .innerFill {
  font: 800 14px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.cta-btn.cta-btn--solid.cta-btn--red .innerFill:after, .cta-btn.cta-btn--solid.cta-btn--red .innerFill:before {
  border-color: #e62429 transparent;
  transition: none;
}

.cta-btn .innerFill:after, .cta-btn .innerFill:before {
  border-style: solid;
  border-width: 0 0 16px 16px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
}

.cta-btn .innerFill:before {
  left: 0;
  top: 0;
}

.cta-btn.cta-btn--solid.cta-btn--red .innerFill:after, .cta-btn.cta-btn--solid.cta-btn--red .innerFill:before {
  border-color: #e62429 transparent;
  transition: none;
}

.cta-btn .innerFill:after, .cta-btn .innerFill:before {
  border-style: solid;
  border-width: 0 0 16px 16px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
}

.cta-btn .innerFill:after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}