<div class="container">
    <section class="page__component page__component--characters page__component--masthead section__color__dark" data-top-component="masthead" data-page-position="1">
        <div class="masthead miniBackground   dark  ">
            <svg class="powerSlashShadow" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                <filter id="powerSlashShadow__filter">
                    <feDropShadow dx="0" dy=".5" stdDeviation="1"></feDropShadow>
                </filter>
                <polygon class="powerSlashShadow__dropshadow" points="2,0 2,98 98,95 98,0"></polygon>
            </svg>
            <diV class="masthead__wrapper">
                <div class="masthead__background__wrapper">
                  <figure class="img__wrapper masthead__background">
                    <img class="imagen_de_fondo built__background built__background--multi use-vars" [src]="imagen" alt="imagen del banner"/>
                  </figure> 
                </div>
                <div class="masthead__hero">
                  <div class="masthead__main">
                    <div class="masthead__container masthead__container_playing-false">
                      <span class="masthead__headline">
                        <strong style="vertical-align: inherit"><p style="vertical-align: inherit">Personajes De Marvel</p></strong>
                      </span>
                      <div class="masthead__copy">
                        <strong style="vertical-align: inherit"><p style="vertical-align: inherit">"¡Enganchate con una abundante ayuda de héroes y villanos!"</p></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </diV>
        </div>
    </section>
    <section class="page__component page__component--characters page__component--ad section__color__dark " data-top-component="ad" data-page-position="2">
        <div class="ad ad--empty dark ad--banner">
            <div></div>
        </div>
    </section>
</div>