.page__body {
    display: block;
}

.navigation__container {
    height: 50px;
    background-color: #151515;
}

.navigation__container--fixed {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.navigation__container--fixed, .navigation__container--navs {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.navigation__container--navs {
    width: 100%;
    -webkit-transform: translateY(-92px);
    transform: translateY(-92px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
}

.mobile-nav {
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 80;
    width: 100%;
    display: block;
}

.mobile-nav:after, .mobile-nav :after, .mobile-nav:before, .mobile-nav :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mobile-nav:after, .mobile-nav :after, .mobile-nav:before, .mobile-nav :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobile-nav__container, .mobile-nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 52px;
}

.mobile-nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 130px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.mobile-nav__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: relative;
}

.mobile-nav__open {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    z-index: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 15px;
}

.mobile-nav a {
    text-decoration: none;
    line-height: 0;
}

.mobile-nav:after, .mobile-nav :after, .mobile-nav:before, .mobile-nav :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mobile-nav:after, .mobile-nav :after, .mobile-nav:before, .mobile-nav :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--svg--white-fill {
    fill: #fff;
}

.icon--svg {
    fill: #151515;
}

.icon--svg--white-fill {
    fill: #fff;
}



.mobile-nav .menu-nav {
    width: 100vw;
}

.mobile-nav .menu-nav, .mobile-nav .secondary-menu-nav {
    display: none;
    background-color: #151515;
    position: absolute;
    width: 100%;
    top: 0;
    left: -105%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: left .3s ease,max-height .3s ease .3s;
    transition: left .3s ease,max-height .3s ease .3s;
}

.mobile-nav .main-close {
    position: absolute;
    z-index: 80;
    max-width: 375px;
}

.mobile-nav .nav-close {
    background-color: #151515;
    padding: 20px 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.mobile-nav .main-close span.icon--svg {
    height: 16px;
}

.icon--svg--white-stroke {
    stroke: #fff;
}
.icon--svg {
    fill: #151515;
}

.mobile-nav .menu-nav__scroller {
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-nav .menu-nav-container:first-child {
    border-top: none;
    border-top-width: initial;
    border-top-style: none;
    border-top-color: initial;
}

.mobile-nav .menu-nav-container {
    background-color: #151515;
    padding: 30px 15px 30px 30px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-top: 1px solid #393939;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(57, 57, 57);
}

.mobile-nav .menu-nav__links {
    padding-bottom: 30px;
}

.mobile-nav .menu-nav__item, .mobile-nav .menu-nav__item_small {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 15px 0;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #fff;
    cursor: default;
}

.mobile-nav .insider-section_unlimited, .mobile-nav .main-notification__link, .mobile-nav .main-notification__message, .mobile-nav .menu-nav__item, .mobile-nav .menu-nav__item_small {
    font: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.3;
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
}



.desktopNav__tabContainer.insider {
    z-index: 1;
}

.homeNav {
  width: 100%;
  position: relative;
  background-color: #202020;
  color: #fff;
  font-family: Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktopNav__upper {
  height: 52px;
  border-bottom: 1px solid #393939;
  padding: 0 20px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.desktopNav__lower {
    height: 40px;
    text-align: center;
}

.desktopNav__lower,
.desktopNav__tabAndLogoContainer,
.desktopNav__upper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.desktopNav__lower,
.desktopNav__tabAndLogoContainer {
  max-width: 1200px;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.desktopNav__tabAndLogoContainer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.desktopNav__logo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 52px;
  width: 130px;
}

.desktopNav__link,
.desktopNav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.insider.desktopNav__tab.loaded {
    display: block;
}

.insider.desktopNav__tab {
    display: none;
}

.desktopNav__tab {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #393939;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(57, 57, 57);
    border-right: 1px solid #393939;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(57, 57, 57);
    height: 51px;
}

.desktopNav__linkContainer {
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.desktopNav__linkWrapper {
    text-transform: uppercase;
    font-weight: 800;
    padding: 0 18px;
    padding-top: 0px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.desktopNav__link, .desktopNav__logo {
    display: flex;
}

a, button {
    color: inherit;
}

.desktopNav__link {
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.desktopNav__link, .desktopNav__right-links {
    font: 400 16px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1;
    font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.desktopNav__linkWrapper {
    padding: 0 18px;
    padding-top: 0px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.desktopNav__container .desktopNav__flyout-container {
    position: absolute;
    z-index: -1;
    left: 0;
    display: grid;
    width: 100%;
    background-color: #fff;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    top: 100%;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    opacity: 0;
    visibility: hidden;
    height: auto;
    box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
    transition-property: opacity,visibility,height;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}




.user-menu {
    position: relative;
    display: block;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.user-menu .user-menu__profile {
    height: 51px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0 25px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    cursor: pointer;
}

.user-menu .user-menu__profile .user-menu__avatar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 8px 0 0;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.user-menu .user-menu__profile .hidden {
    display: none;
}